.chart-container {
  transform: translate(0,10%);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.chart {
  width: 100%;
  min-height: 450px;
  margin: auto;
}

.row {
  margin:0 !important;
}

#divDataView, #divDataQuery {
  /*transform: translate(30%,0);*/
}

/* .display-4 {
  text-align: center;
}

.lead {
  text-align: center;
} */

.jumbotron {
  margin-bottom: 5px;
}

.nav-link:hover {
  color: #fff;
  background-color: #007bff;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #007bff;
}

.nav-tabs .nav-link {
  border-top-left-radius: .45rem;
  border-top-right-radius: .45rem;
}

#divAreaChart > div:nth-child(1) > div:nth-child(1) {
  min-width: 43vw;
  min-height: 34vh;
}

#divPieChart > div:nth-child(1) > div:nth-child(1) {
  min-width: 43vw;
  min-height: 34vh;
}
